*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}

   body{
    width: 100%;
    min-height:  100vh;
    background-color: black;
    /* overflow: hidden; */
   }
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: gray;
}   
nav li{
        display: inline;
        margin-left: 20px;
        font-weight: 700;
        
}
.main{
    width: 100%;
    color: white;
    margin-top: 70px;
}
.content {
    width: 50%;
    margin-top: 1%;
    margin-left:0%;
    color: white;
    /* overflow: hidden; */
}
.content h1{
    font-size: 80px;
    margin-bottom: 1%;
    letter-spacing: 10px;
}
.content h3{
    font-size: 40px;
    margin-bottom: 5%;
    letter-spacing: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
span{
    color: red;
}
.content p{
    padding: 15px 20px;
    background-color:transparent;
    color: rgb(70, 40, 221);
    font-size: 30px;    
    border-radius: 20px;

}
button{
    padding: 10px 30px; 
    background: transparent;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}
button:hover{
    background-color: rgb(168, 213, 19);
}
.image{ 
    width: 100%;
    margin-top: 0%;
}
/* img{
    width: 30rem;
} */
 @media screen and (max-width: 600px){
body{
    background-color: aqua;
}
 }



